@import "tailwindcss";
@plugin "daisyui";

@custom-variant dark (&:where(.dark, .dark *));

.active {
    @apply bg-blue-600 text-white rounded-md
}
* {
  scrollbar-width: thin; 
  scrollbar-color: #2868f1fb rgba(229, 238, 248, 0.8);
}

body {
  cursor: none;
}
.menuitem 
{
    position: relative;
  transition: all 0.2s;
}
.menuitem::after
{
    position: absolute;
    bottom: 0;
    left: 0;
    content: '';
    width:0;
    height : 100%;
    background-color: #97c0f175;
    transition: all .5s;
    border-radius: 5px;
    z-index: -1;
}
.menuitem:hover::after 
{
    width: 100%;
}

 .hero {
  position: relative;
  height: 100vh;
  overflow: hidden;
}

.animate-bg {
  animation: bgMove 20s linear infinite alternate;
}

.animate-logo {
  animation: logo 10s linear infinite ;
}

@keyframes bgMove {
  from {
    transform: scale(1) translateX(0);
  }
  to {
    transform: scale(1.3) translateX(-40px);
  }
} 
@keyframes logo {
  from {
    transform: rotate(0);
  }
  to 
  {
    transform:rotate(360deg);
  }
} 

@keyframes ripple {
  0% {
    transform: scale(0.2);
    opacity: 0.6;
  }
  100% {
    transform: scale(2.5);
    opacity: 0;
  }
}

.animate-ripple {
  animation: ripple 0.8s ease-out forwards;
}

input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset; 
  -webkit-text-fill-color: #F3F4F6; 
  transition: background-color 5000s ease-in-out 0s;
}
.dark input:-webkit-autofill {
  -webkit-box-shadow: 0 0 0px 1000px transparent inset; 
  -webkit-text-fill-color: #10121B; 
}




